/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v49-latin-300.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-300.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v49-latin-regular.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v49-latin-500.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-500.woff") format("woff");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #edecf7;
}
.container {
  width: 1280px;
  padding: 0px 20px;
  margin: 0px auto;
}
body {
  margin: 0px;
}
.fon-tepa {
  background-image: url("./fon\ 1.png");
  background-size: cover;
  padding-bottom: 150px;
}
header {
  background-color: #2a8086;
}
.header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 108px;
  height: 83.61px;
}
.navs-hero {
  padding-right: 590px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
}
.navs {
  text-decoration: none;
  color: #fff;
}
.navs:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.navss {
  color: #fff;
  text-decoration: none;
  border-bottom: rgb(255, 255, 255) solid 2px;
}
.header-btns-image {
  background-image: url("./qidirish.png");
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}
.header-btn-hero {
  gap: 6px;
  display: flex;
  align-items: center;
}
.header-btns-shafof {
  background-color: transparent;
  color: #fff;
  border: none;
}
.header-btn-oq {
  background-color: #2a8086;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 35px;
  border-radius: 20px;
}
.header-btn-oq:hover {
  background-color: #fff;
  color: #2a8086;
}
.markaz-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.markaz-box-pct {
  width: 603px;
  height: 466px;
}
.markaz-box-mini {
  width: 450px;
}
.markaz-box-text {
  color: #fff;
  font-weight: 50px;
}
.markaz-box-nomi {
  color: #fff;
}
.markaz-box-btn {
  color: #2a8086;
  border-radius: 20px;
  padding: 15px 55px;
  border: none;
}

.bolim-hero {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bolim {
  width: 280px;
}
.bolim-text {
  color: #2a8086;
}
.pct-box {
  padding: 48px 47px;
}

.bolim-nomi {
  color: #2a8086;
}
.bolim:hover {
  border-bottom: 2px #2a8086 solid;
}
.rasm-fon {
  width: 100%;
}
.animals-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.animals-pct {
  display: block;
  margin: 0px auto;
  width: 128px;
  height: 121px;
}
.animals {
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
  width: 380px;
  background-color: #fff;
}
.rang {
  list-style-type: none;
  color: black;
}
.rang:hover {
  color: #fff;
}
.animals:hover {
  color: #fff;
  background-color: #2a8086;
  border-radius: 15px;
}
h4 {
  padding-top: 10px;
}

.animals-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rasim {
  margin-top: 50px;
  width: 100%;
  height: 364px;
}
.nomi-malumotlar {
  color: #2a8086;
}
.malumot-hero {
  list-style-type: none;
  gap: 15px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.malumot {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}
.malumot-mini {
  display: flex;
  gap: 10px;
  align-items: center;
}
.malumot-nomi {
  color: #d1d1d1;
}
.boxlar-nomi {
  padding-top: 40px;
  color: #2a8086;
  padding-bottom: 15px;
}
.boxlar-hero {
  padding-top: 80px;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;

  gap: 50px;
}
.boxlar-pct {
  width: 58px;
  height: 53px;
  animation: pictures-to-sircule 4s ease infinite;
}

@keyframes pictures-to-sircule {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxlar {
  width: 85px;
}
.footer-back {
  background-color: #2a8086;
}
.footer-hero {
  padding: 10px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a8086;
}
.footer-boshi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dons-hero {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}
.dons {
  text-decoration: none;
  color: #fff;
}
.dons:hover {
  border-bottom: 1px #fff solid;
}
.panda-noomi {
  color: #2a8086;
}

.lives-hero {
  padding-top: 25px;
  width: 1280px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.lives {
  width: 300px;
}

.yoziq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yozuli-sec-hro {
  color: #2a8086;
}

.nomla-hero {
  padding-right: 120px;
}
.nomla {
  color: #2a8086;
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-foon {
  margin-bottom: 40px;
  text-align: center;
  width: 100vw;
  height: 363px;
}
